In [13]:
import pandas as pd

In [28]:
# Read .csv file of total schools and grades from Florida Department of Education
file = "./SchoolGrades19_clean.csv"
school_grades = pd.read_csv(file)

# Read files on magnet and charter schools
file2 = "./magnet_schools.csv"
file3 = "./charter_schools.csv"
magnet_schools = pd.read_csv(file2)

pd.set_option('display.max_columns', None)

In [29]:
# Drop all but Hillsborough County schools
index_names1 = school_grades[(school_grades['District Name'] != "HILLSBOROUGH")].index 
school_grades.drop(index_names1, inplace = True)

school_grades.head()

,District Number,District Name,School Number,School Name,English Language Arts Achievement,English Language Arts Learning Gains,English Language Arts Learning Gains of the Lowest 25%,Mathematics Achievement,Mathematics Learning Gains,Mathematics Learning Gains of the Lowest 25%,Science Achievement,Social Studies Achievement,Middle School Acceleration,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Grade 2014,Grade 2013,Grade 2012,Grade 2011,Grade 2010,Grade 2009,Grade 2008,Grade 2007,Grade 2006,Grade 2005,Grade 2004,Grade 2003,Grade 2002,Grade 2001,Grade 2000,Grade 1999,Was the collocated rule used?,Collocated Number,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1418,29,HILLSBOROUGH,5,WARREN HOPE DAWSON ELEMENTARY,50,53,54,40,31,34,41,0,0,0,0,303,7,43,99,C,C,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,0.0,NO,NO,N,1,50.6,48.3
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,28,34,33,33,44,40,26,31,66,0,0,335,9,37,99,D,C,C,C,C,C,C,B,A,A,A,A,A,A,B,B,A,A,A,C,C,N,0.0,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,34,56,60,37,56,62,33,0,0,0,0,338,7,48,100,C,D,D,F,F,D,C,C,C,C,B,C,B,B,C,B,B,B,C,C,C,N,0.0,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,30,34,28,31,41,43,58,57,0,88,36,446,10,45,97,C,C,C,C,C,C,B,B,A,D,D,C,D,0,0,0,0,0,0,0,0,N,0.0,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,32,58,67,39,63,54,38,0,0,0,0,351,7,50,100,C,D,D,D,F,D,F,D,C,C,B,C,B,C,C,0,0,0,0,0,0,N,0.0,NO,YES,N,1,97.4,98

In [15]:
school_grades.count()

District Number                                           260
District Name                                             260
School Number                                             260
School Name                                               260
English Language Arts Achievement                         260
English Language Arts Learning Gains                      260
English Language Arts Learning Gains of the Lowest 25%    260
Mathematics Achievement                                   260
Mathematics Learning Gains                                260
Mathematics Learning Gains of the Lowest 25%              260
Science Achievement                                       260
Social Studies Achievement                                260
Middle School Acceleration                                260
Graduation Rate 2017-18                                   260
College and Career Acceleration 2017-18                   260
Total Points Earned                                       260
Total Components                                          260
Percent of Total Possible Points                          260
Percent Tested                                            260
Grade 2019                                                260
Grade 2018                                                260
Grade 2017                                                260
Grade 2016                                                260
Informational Baseline Grade 2015                         260
Grade 2014                                                260
Grade 2013                                                260
Grade 2012                                                260
Grade 2011                                                260
Grade 2010                                                260
Grade 2009                                                260
Grade 2008                                                260
Grade 2007                                                260
Grade 2006                                                260
Grade 2005                                                260
Grade 2004                                                260
Grade 2003                                                260
Grade 2002                                                260
Grade 2001                                                260
Grade 2000                                                260
Grade 1999                                                260
Was the collocated rule used?                             260
Collocated Number                                         260
Charter School                                            260
Title I                                                   260
Alternative/ESE Center School                             260
School Type                                               260
Percent of Minority Students                              260
Percent of Economically Disadvantaged Students            260
dtype: int64

In [30]:
# Create stripped-down dataframe that only contains grades as far back as 2015
# Also removes: collocated rule columns because they were empty
# and miscellaneous other columns:
school_grades_basic = school_grades.loc[:, ["District Number", "District Name", "School Number", "School Name", 
                                            "Graduation Rate 2017-18", "College and Career Acceleration 2017-18", 
                                            "Total Points Earned", "Total Components", "Percent of Total Possible Points", 
                                            "Percent Tested", "Grade 2019", "Grade 2018", "Grade 2017", "Grade 2016", 
                                            "Informational Baseline Grade 2015", "Charter School", "Title I", 
                                            "Alternative/ESE Center School", "School Type", "Percent of Minority Students", 
                                            "Percent of Economically Disadvantaged Students"]]

# Drop schools with missing grade data from 2015
indexNames2 = school_grades_basic[school_grades_basic['Informational Baseline Grade 2015'] == '0'].index
 
# Delete these row indices from dataFrame
school_grades_basic = school_grades_basic.drop(indexNames2)

school_grades_basic

,District Number,District Name,School Number,School Name,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,0,0,335,9,37,99,D,C,C,C,C,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,0,0,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,88,36,446,10,45,97,C,C,C,C,C,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,0,0,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98
1423,29,HILLSBOROUGH,52,GIUNTA MIDDLE SCHOOL,0,0,341,9,38,99,D,D,C,C,C,NO,YES,N,2,83.7,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,29,HILLSBOROUGH,6669,RCMA LEADERSHIP ACADEMY,0,0,549,9,61,100,B,B,C,C,C,YES,YES,N,2,99.1,100
1661,29,HILLSBOROUGH,6671,HILLSBOROUGH ACADEMY OF MATH AND SCIENCE,0,0,611,9,68,100,A,B,A,B,A,YES,NO,N,4,76.2,52.6
1662,29,HILLSBOROUGH,7023,HILLSBOROUGH VIRTUAL SCHOOL,88,47,719,11,65,99,A,B,A,A,B,NO,NO,N,4,47.9,23.8
1663,29,HILLSBOROUGH,7675,BRIDGEPREP ACADEMY OF TAMPA,0,0,511,9,57,99,B,B,C,D,F,YES,YES,N,4,77.1,79.5
1664,29,HILLSBOROUGH,7680,VILLAGE OF EXCELLENCE ACADEMY MIDDLE SCHOOL,0,0,346,9,38,98,D,C,B,D,F,YES,YES,N,2,99.1,82.1

In [26]:
# Create dataframe without charter schools
indexNames3 = school_grades_basic[school_grades_basic['Charter School'] == 'YES'].index

# Delete these row indices from dataFrame
school_grades_xc = school_grades_basic.drop(indexNames3)

school_grades_xc

,District Number,District Name,School Number,School Name,Graduation Rate 2017-18,College and Career Acceleration 2017-18,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,Grade 2018,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students
1419,29,HILLSBOROUGH,41,ADAMS MIDDLE SCHOOL,0,0,335,9,37,99,D,C,C,C,C,NO,YES,N,2,87.5,91.6
1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,0,0,338,7,48,100,C,D,D,F,F,NO,YES,N,1,85.6,94.6
1421,29,HILLSBOROUGH,43,SPOTO HIGH SCHOOL,88,36,446,10,45,97,C,C,C,C,C,NO,YES,N,3,84.2,75.8
1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,0,0,351,7,50,100,C,D,D,D,F,NO,YES,N,1,97.4,98
1423,29,HILLSBOROUGH,52,GIUNTA MIDDLE SCHOOL,0,0,341,9,38,99,D,D,C,C,C,NO,YES,N,2,83.7,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,29,HILLSBOROUGH,4921,WITTER ELEMENTARY SCHOOL,0,0,259,7,37,99,D,C,B,C,D,NO,YES,N,1,95.9,96.1
1630,29,HILLSBOROUGH,4941,WOODBRIDGE ELEMENTARY SCHOOL,0,0,315,7,45,100,C,C,B,B,C,NO,YES,N,1,90.1,89.7
1631,29,HILLSBOROUGH,4961,YATES ELEMENTARY SCHOOL,0,0,365,7,52,100,C,C,C,C,C,NO,YES,N,1,70.0,83.1
1632,29,HILLSBOROUGH,5041,YOUNG MIDDLE MAGNET SCHOOL,0,0,377,9,42,99,C,C,C,C,C,NO,YES,N,2,96.4,92.3
1662,29,HILLSBOROUGH,7023,HILLSBOROUGH VIRTUAL SCHOOL,88,47,719,11,65,99,A,B,A,A,B,NO,NO,N,4,47.9,23.8

In [22]:
magnet_schools

,School Name,District Name,Web Site,Phone,Address1,Address2,City,State,Zip,Grades Served,SACS Accredited,Status,Magnet Specialty
0,ARMWOOD HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 744-8040,12000 E US HIGHWAY 92,NaN,SEFFNER,FL,33584-3418,12-Sep,Yes,Magnet Program,Academically Talented
1,BLAKE HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 272-3422,1701 N BOULEVARD,NaN,TAMPA,FL,33607-3703,12-Sep,Yes,Magnet Program,Performing Arts
2,DOWDELL MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 744-8322,1208 WISHING WELL WAY,NaN,TAMPA,FL,33619-4748,8-Jun,Yes,Magnet Program,Other
3,DUNBAR ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5677,1730 W UNION ST,NaN,TAMPA,FL,33607-4324,K-5,Yes,Magnet School,Medical
4,FERRELL MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5608,4302 N 24TH ST,NaN,TAMPA,FL,33610-7604,8-Jun,Yes,Magnet School,Other
5,FRANKLIN MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 744-8108,3915 E 21ST AVE,NaN,TAMPA,FL,33605-2305,8-Jun,Yes,Magnet School,Other
6,GRECO MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 987-6926,6925 E FOWLER AVE,NaN,TEMPLE TERRACE,FL,33617-1714,8-Jun,Yes,Magnet School,Not Applicable
7,HILLSBOROUGH HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 276-5620,5000 N CENTRAL AVE,NaN,TAMPA,FL,33603-2214,12-Sep,Yes,Magnet Program,International Baccalaureate
8,JEFFERSON HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 872-5241,4401 W CYPRESS ST,NaN,TAMPA,FL,33607-4006,12-Sep,Yes,Magnet Program,Other
9,KING HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 744-8333,6815 N 56TH ST,NaN,TAMPA,FL,33610-1921,12-Sep,Yes,Magnet Program,International Baccalaureate
10,LENNARD HIGH SCHOOL,HILLSBOROUGH,www.sdhc.k12.fl.us,(813) 641-5611,2002 E SHELL POINT RD,NaN,RUSKIN,FL,33570-5002,12-Sep,Yes,Magnet Program,Academically Talented
11,LETO HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 872-5300,4409 W SLIGH AVE,NaN,TAMPA,FL,33614-3641,12-Sep,Yes,Magnet Program,Academically Talented
12,LINCOLN ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 757-9329,1207 E RENFRO ST,NaN,PLANT CITY,FL,33563-5849,PREK-5,Yes,Magnet School,International Baccalaureate
13,LOCKHART ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5727,3719 N 17TH ST,NaN,TAMPA,FL,33610-8170,PREK-5,Yes,Magnet School,Science/Math
14,MACFARLANE PARK ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 356-1760,1721 N MACDILL AVE,NaN,TAMPA,FL,33607-3221,K-5,Yes,Magnet School,International Baccalaureate
15,MARSHALL MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 757-9360,18 S MARYLAND AVE,NaN,PLANT CITY,FL,33563-6008,8-Jun,Yes,Magnet School,Not Applicable
16,MIDDLETON HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 233-3360,4801 N 22ND ST,NaN,TAMPA,FL,33610-6207,12-Sep,Yes,Magnet Program,Science/Math
17,MONROE MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 272-3020,4716 W MONTGOMERY AVE,NaN,TAMPA,FL,33616-1042,8-Jun,Yes,Magnet School,Not Applicable
18,MULLER ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 558-1355,13615 N 22ND ST,NaN,TAMPA,FL,33613-4421,K-5,Yes,Magnet School,Other
19,ORANGE GROVE MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5717,3415 N 16TH ST,NaN,TAMPA,FL,33605-1107,8-Jun,Yes,Magnet School,Performing Arts
20,PROGRESS VILLAGE MIDDLE MAGNET,HILLSBOROUGH,NaN,(813) 671-5110,8113 ZINNIA DR,NaN,TAMPA,FL,33619-7349,8-Jun,Yes,Magnet School,Performing Arts
21,RAMPELLO K-8 MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 233-2333,802 E WASHINGTON ST,NaN,TAMPA,FL,33602-4102,K-8,Yes,Magnet School,Other
22,RIVERHILLS ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,http://riverhills.mysdhc.org,(813) 987-6911,405 S RIVERHILLS DR,NaN,TEMPLE TERRACE,FL,33617-7805,K-5,Yes,Magnet School,International Baccalaureate
23,ROBINSON HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 272-3006,6311 S LOIS AVE,NaN,TAMPA,FL,33616-1617,12-Sep,Yes,Magnet Program,International Baccalaureate
24,RODGERS MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 671-5288,11910 TUCKER RD,NaN,RIVERVIEW,FL,33569-4154,8-Jun,Yes,Magnet School,Not Applicable
25,ROLAND PARK K-8 MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 872-5212,1510 N MANHATTAN AVE,NaN,TAMPA,FL,33607-4017,K-8,Yes,Magnet School,International Baccalaureate
26,SHORE ELEMENTARY MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5712,1908 E 2ND AVE,NaN,TAMPA,FL,33605-5204,K-5,No,Magnet School,Performing Arts
27,SLIGH MIDDLE SCHOOL,HILLSBOROUGH,NaN,(813) 276-5596,2011 E SLIGH AVE,NaN,TAMPA,FL,33610-1253,8-Jun,Yes,Magnet Program,Medical
28,STEWART MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5691,1125 W SPRUCE ST,NaN,TAMPA,FL,33607-3625,8-Jun,Yes,Magnet School,Science/Math
29,STRAWBERRY CREST HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 707-7522,4691 GALLAGHER RD,NaN,DOVER,FL,33527-4137,12-Sep,Yes,Magnet Program,International Baccalaureate
30,TAMPA BAY TECH HIGH SCHOOL,HILLSBOROUGH,NaN,(813) 744-8360,6410 ORIENT RD,NaN,TAMPA,FL,33610-9438,12-Sep,Yes,Magnet Program,Medical
31,TAMPA HEIGHTS ELEMENTARY MAGNET,HILLSBOROUGH,NaN,(813) 276-5405,305 E. COLUMBUS DRIVE,NaN,TAMPA,FL,33602,K-5,Yes,Magnet School,Technology
32,WALKER MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 631-4726,8282 N MOBLEY RD,NaN,ODESSA,FL,33556-2437,8-Jun,Yes,Magnet School,International Baccalaureate
33,WILLIAMS MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 744-8600,5020 N 47TH ST,NaN,TAMPA,FL,33610-4712,8-Jun,Yes,Magnet School,International Baccalaureate
34,YOUNG MIDDLE MAGNET SCHOOL,HILLSBOROUGH,NaN,(813) 276-5739,1807 E DR MARTIN LUTHER KING JR BLVD,NaN,TAMPA,FL,33610-7518,8-Jun,Yes,Magnet School,Science/Math