In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets

# Import API key
from api_keys import g_key

In [5]:
# Read .csv file of final school data
school_file = os.path.join ("./Resources/school_grades_final.csv")
school_grades = pd.read_csv(school_file)

home_file = os.path.join ("../GB/Resources/hill_prop_value.csv")
home_values = pd.read_csv(home_file)

In [2]:
# Configure gmaps
# gmaps.configure(api_key = g_key)
# url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?""
# query = url +

In [7]:
school_grades.head()

,Unnamed: 0,District Number,District Name,School Number,School Name,Total Points Earned,Total Components,Percent of Total Possible Points,Percent Tested,Grade 2019,...,Grade 2017,Grade 2016,Informational Baseline Grade 2015,Charter School,Title I,Alternative/ESE Center School,School Type,Percent of Minority Students,Percent of Economically Disadvantaged Students,ZIP
0,1420,29,HILLSBOROUGH,42,FOREST HILLS ELEMENTARY SCHOOL,338,7,48,100,C,...,D,F,F,NO,YES,N,1,85.6,94.6,33612
1,1422,29,HILLSBOROUGH,51,SHEEHY ELEMENTARY SCHOOL,351,7,50,100,C,...,D,D,F,NO,YES,N,1,97.4,98.0,33610
2,1424,29,HILLSBOROUGH,54,CORR ELEMENTARY SCHOOL,315,7,45,100,C,...,C,C,D,NO,YES,N,1,79.1,78.0,33534
3,1426,29,HILLSBOROUGH,56,DAVIS ELEMENTARY SCHOOL,333,7,48,100,C,...,C,C,C,NO,YES,N,1,85.8,90.5,33615
4,1427,29,HILLSBOROUGH,59,FISHHAWK CREEK ELEMENTARY SCHOOL,497,7,71,100,A,...,A,A,A,NO,NO,N,1,30.6,13.8,33547

In [8]:
home_values

,Unnamed: 0,SEQ_NO,PARCEL_ID,PropertyValue,NBRHD_CD,CENSUS_BK,PropAddress,City,ZipCode
0,58668,59073,1827230KS000000000110U,100,21500500,120570111071,16721 VALSECA DE AVILA,TAMPA,33613
1,58791,59197,1827230KW000003000080U,974734,21500500,120570111071,17011 CANDELEDA DE AVILA,TAMPA,33613
2,58792,59198,1827230KW000003000090U,761368,21500500,120570111071,17013 CANDELEDA DE AVILA,TAMPA,33613
3,58793,59199,1827230L0000003000030U,1503850,21500500,120570111071,17001 CANDELEDA DE AVILA,TAMPA,33613
4,58794,59200,1827230L2000001000070U,1093532,21500500,120570111071,17004 ABASTROS DE AVILA,TAMPA,33613
...,...,...,...,...,...,...,...,...,...
6741,207165,208432,192806ZZZ000001278202U,76369,61400300,120570108182,1330 137TH AVE,TAMPA,33613
6742,207166,208433,192806ZZZ000001278203U,67207,21400900,120570108182,1324 137TH AVE,TAMPA,33613
6743,207167,208434,192806ZZZ000001278204U,75957,61400300,120570108182,1312 137 TH AVE,TAMPA,33613
6744,207171,208438,192806ZZZ000001278501U,9734,21400900,120570108182,E FLETCHER AVE,TAMPA,33613
6745,207172,208439,192806ZZZ000001278600U,867600,51400100,120570108182,13624 N 15TH ST,TAMPA,33613